# Variáveis, Strings, Boleanos, Python
Caderno de Desenvolvimento <br>
Curadoria de [Rafael Barbosa](https://www.linkedin.com/in/barbosa89/)

---

## 1\. Google Colab

Crie uma célula de código que escreva o texto "Olá mundo!", utilize o comando Python `print`.

In [ ]:
print( "Olá mundo!")

Olá mundo!

## 2\. Números

Preencha as células de código para preencher os valores de (A), (B) e (C) na tabela de ticket médio abaixo:

<br>

| Dia   | Valor Total Vendas | Qtd Total Vendas | Ticket Medio |
|-------|--------------------|------------------|--------------|
| 19/01 | (A)                | 3                | 320.52       |
| 20/01 | 834.47             | (B)              | 119.21       |
| 23/01 | 15378.12           | 5                | (C)          |

In [ ]:
# (A)
svv_19 = 153.98
sqv_19 = 3
print(svv_19 / sqv_19)

51.32666666666666

In [ ]:
# (B)
svv_20 = 337.01
sqv_20 = 7
print(svv_20 / sqv_20)

48.144285714285715

In [ ]:
# (C)
svv_23 = 295.33
sqv_23 = 5
print(svv_23 / sqv_23)

59.065999999999995

## 3\. Strings

Aplique três métodos distintos na *string* abaixo, você pode conferir alguns métodos neste [link](https://www.w3schools.com/python/python_ref_string.asp):

In [ ]:
cancao = 'Roda mundo, roda gigante, roda moinho, roda pião.'

cancao_casefold = cancao.casefold()
print('Word "roda" shows', cancao_casefold.count("roda"), "times.")
print("Are all the characters ascii (a-z)?", cancao.isascii())

Word "roda" shows 4 times.
Are all the characters ascii (a-z)? False

Extraia da string abaixo o valor da taxa **selic** na variável `selic` e o valor do **ano** na variavel `ano`. Imprima os valores na tela.

In [ ]:
noticia = 'Selic vai a 2,75% e supera expectativas; é a primeira alta em 6 anos.'

#print(noticia.index("6"))

selic = noticia[12:16]
ano = noticia[62]

print("Selic =",selic,"%")
print("Ano =",ano)

Selic = 2,75 %
Ano = 6

## 4\. Booleanos

Utilize a tabela da verdade para responder: qual o valor da variável x?

R: De acordo com a "tabela da verdade", 'not a' torna-se True quando a = False, e sendo b = True o resultado de 'not a & b' é True ou x = True.

| A        | B        | | | A OR B   | | A AND B  | | NOT A    |
|----------|----------|-|-|----------|-|----------|-|----------|
| **TRUE** | **TRUE** | | | **TRUE** | | **TRUE** | | FALSE    |
| **TRUE** | FALSE    | | | **TRUE** | | FALSE    | | FALSE    |
| FALSE    | FALSE    | | | FALSE    | | FALSE    | | **TRUE** |
| FALSE    | **TRUE** | | | **TRUE** | | FALSE    | | **TRUE** |

In [ ]:
a = False
b = True

x = not a & b

print("x =",x)

x = True